*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}
.content{
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
    height: 100%; 
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: 1rem auto; 
        height: 0 auto;
        border-radius: 1rem;
    }
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}


